@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display:grid;
    flex-grow:10;
    background: #ffffff;
}
header{
    background: #767779;
    height:65px;
    align-items:center;
    display:flex;
}
nav{
    background: #ffffff;
    height:35px;
    align-items:center;
    display:flex;
    padding:10px;
    gap:5px;
    border-bottom: 1px solid rgb(0,0,0,.2);
}
footer{
    background: #767779;
    justify-content:center;
    align-items:center;
    display:flex;
    height:40px;
}
body{
    height:100dvh;
    display:flex;
    flex-direction:column;
    font-family: "Oswald", sans-serif;
}
nav a{
    color:black;
    text-decoration:none;
}
nav a:hover{
    color: rgb(58, 58, 58);
}
h1{
    padding:10px;
}
.catchphrase{
    background: #403e55;
    width:fit-content;
    border-radius:5px;
}
.leftside{
    display:flex;
    flex-direction:column;
    padding:10px;
}